obj/*
alltest.out
libvisa.so
data/*
exSincFilter.out
exMexicanHat.out
exSmallMatrix.out
visaInstall.mk
CMakeFiles/*
CMakeCache.txt
cmake_install.cmake
Makefile
src/Makefile
src/CMakeFiles/*
exLinePlot.out
install_manifest.txt
VisaConfig.cmake
CTest*
Testing/*
unittest/CMakeFiles/*
cmap.csv
*.out
backup-090420181603-pre-visa.tgz
backup-090420181603-pre-visa.tgz
doc-pak/*
description-pak
visa_20180904-1_amd64.deb
